# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor build outputs
dist/
build/

# Android Studio & Gradle
android/.gradle/
android/.idea/
android/local.properties
android/build/
*.iml

# VSCode / IDE
.vscode/
.idea/

# Mac/Linux
.DS_Store
